
# config file for testing various version of MyBot
# ------------------------------------------------

%section server
    server yss-aya.com
    port 6809

%section player
     name      matilda_1.21
     password  PASSWORD_HERE
     invoke    ../src/matilda -m gtp -d ../src/data/ -l --think_in_opt_time
     priority  1

