name=matilda
password=
room=Computer Go
verbose=f
engine=../src/matilda -m gtp --think_in_opt_time --losing resign -l -d ../src/data/
rules=chinese
rules.boardSize=9
rules.time=4:00+10/0:30
mode=custom
gameNotes=Testing for bot tournament
reconnect=f
