*.o
*.d
matilda
matilda*
test
gen_opening_book
gen_joseki_book
learn_best_plays
learn_pat_weights
gen_zobrist_table
gen_data_set
train_nn
callgrind.out.*
*.log
*.sgf
*.ugi
*.ugf
*.ds
*.ds.txt
output.*
